a.out
*.vvp
*.vcd
*.zip

.*.sw[op]
.vscode/settings.json

xise/synthesizer/*.gise
xise/synthesizer/*_summary.html
xise/synthesizer/_ngo/
xise/synthesizer/_xmsgs/
xise/synthesizer/*.bld
xise/synthesizer/*.cmd_log
xise/synthesizer/*.lso
xise/synthesizer/*.ngc
xise/synthesizer/*.ngr
xise/synthesizer/*.prj
xise/synthesizer/*.stx
xise/synthesizer/*.syr
xise/synthesizer/*.xst
xise/synthesizer/*.html
xise/synthesizer/*.xrpt
xise/synthesizer/*.xrpt
xise/synthesizer/*.xml
xise/synthesizer/xst/
