//! **************************************************************************
// Written by: Map P.20160913 on Sun Jun 03 15:43:01 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "btns" LOCATE = SITE "B8" LEVEL 1;
COMP "JA<0>" LOCATE = SITE "T12" LEVEL 1;
COMP "JA<1>" LOCATE = SITE "V12" LEVEL 1;
COMP "JA<2>" LOCATE = SITE "N10" LEVEL 1;
COMP "JA<3>" LOCATE = SITE "P11" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "sw_interface/freq_7" BEL "sw_interface/freq_6" BEL
        "sw_interface/freq_5" BEL "sw_interface/freq_4" BEL
        "sw_interface/freq_3" BEL "sw_interface/freq_2" BEL
        "sw_interface/freq_1" BEL "sw_interface/freq_0" BEL
        "play_button/count_13" BEL "play_button/count_12" BEL
        "play_button/count_11" BEL "play_button/count_10" BEL
        "play_button/count_9" BEL "play_button/count_8" BEL
        "play_button/count_7" BEL "play_button/count_6" BEL
        "play_button/count_5" BEL "play_button/count_4" BEL
        "play_button/count_3" BEL "play_button/count_2" BEL
        "play_button/count_1" BEL "play_button/count_0" BEL
        "play_button/mydest" BEL "play_button/state_1" BEL
        "play_button/state_0" BEL "out_/MCLK_count_31" BEL
        "out_/MCLK_count_30" BEL "out_/MCLK_count_29" BEL "out_/MCLK_count_28"
        BEL "out_/MCLK_count_27" BEL "out_/MCLK_count_26" BEL
        "out_/MCLK_count_25" BEL "out_/MCLK_count_24" BEL "out_/MCLK_count_23"
        BEL "out_/MCLK_count_22" BEL "out_/MCLK_count_21" BEL
        "out_/MCLK_count_20" BEL "out_/MCLK_count_19" BEL "out_/MCLK_count_18"
        BEL "out_/MCLK_count_17" BEL "out_/MCLK_count_16" BEL
        "out_/MCLK_count_15" BEL "out_/MCLK_count_14" BEL "out_/MCLK_count_13"
        BEL "out_/MCLK_count_12" BEL "out_/MCLK_count_11" BEL
        "out_/MCLK_count_10" BEL "out_/MCLK_count_9" BEL "out_/MCLK_count_8"
        BEL "out_/MCLK_count_7" BEL "out_/MCLK_count_6" BEL
        "out_/MCLK_count_5" BEL "out_/MCLK_count_4" BEL "out_/MCLK_count_3"
        BEL "out_/MCLK_count_2" BEL "out_/MCLK_count_1" BEL
        "out_/MCLK_count_0" BEL "out_/LRCLK_count_31" BEL
        "out_/LRCLK_count_30" BEL "out_/LRCLK_count_29" BEL
        "out_/LRCLK_count_28" BEL "out_/LRCLK_count_27" BEL
        "out_/LRCLK_count_26" BEL "out_/LRCLK_count_25" BEL
        "out_/LRCLK_count_24" BEL "out_/LRCLK_count_23" BEL
        "out_/LRCLK_count_22" BEL "out_/LRCLK_count_21" BEL
        "out_/LRCLK_count_20" BEL "out_/LRCLK_count_19" BEL
        "out_/LRCLK_count_18" BEL "out_/LRCLK_count_17" BEL
        "out_/LRCLK_count_16" BEL "out_/LRCLK_count_15" BEL
        "out_/LRCLK_count_14" BEL "out_/LRCLK_count_13" BEL
        "out_/LRCLK_count_12" BEL "out_/LRCLK_count_11" BEL
        "out_/LRCLK_count_10" BEL "out_/LRCLK_count_9" BEL
        "out_/LRCLK_count_8" BEL "out_/LRCLK_count_7" BEL "out_/LRCLK_count_6"
        BEL "out_/LRCLK_count_5" BEL "out_/LRCLK_count_4" BEL
        "out_/LRCLK_count_3" BEL "out_/LRCLK_count_2" BEL "out_/LRCLK_count_1"
        BEL "out_/LRCLK_count_0" BEL "out_/SCLK_count_31" BEL
        "out_/SCLK_count_30" BEL "out_/SCLK_count_29" BEL "out_/SCLK_count_28"
        BEL "out_/SCLK_count_27" BEL "out_/SCLK_count_26" BEL
        "out_/SCLK_count_25" BEL "out_/SCLK_count_24" BEL "out_/SCLK_count_23"
        BEL "out_/SCLK_count_22" BEL "out_/SCLK_count_21" BEL
        "out_/SCLK_count_20" BEL "out_/SCLK_count_19" BEL "out_/SCLK_count_18"
        BEL "out_/SCLK_count_17" BEL "out_/SCLK_count_16" BEL
        "out_/SCLK_count_15" BEL "out_/SCLK_count_14" BEL "out_/SCLK_count_13"
        BEL "out_/SCLK_count_12" BEL "out_/SCLK_count_11" BEL
        "out_/SCLK_count_10" BEL "out_/SCLK_count_9" BEL "out_/SCLK_count_8"
        BEL "out_/SCLK_count_7" BEL "out_/SCLK_count_6" BEL
        "out_/SCLK_count_5" BEL "out_/SCLK_count_4" BEL "out_/SCLK_count_3"
        BEL "out_/SCLK_count_2" BEL "out_/SCLK_count_1" BEL "out_/SDIN" BEL
        "out_/MCLK" BEL "out_/LRCLK" BEL "out_/sig_temp_15" BEL
        "out_/sig_temp_14" BEL "out_/sig_temp_13" BEL "out_/sig_temp_12" BEL
        "out_/sig_temp_11" BEL "out_/sig_temp_10" BEL "out_/sig_temp_9" BEL
        "out_/sig_temp_8" BEL "out_/sig_temp_7" BEL "out_/sig_temp_6" BEL
        "out_/sig_temp_5" BEL "out_/sig_temp_4" BEL "out_/sig_temp_3" BEL
        "out_/sig_temp_2" BEL "out_/sig_temp_1" BEL "out_/sig_temp_0" BEL
        "out_/SCLK" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

